body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.display {
  min-height: 50px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 32px;
  color: white;
  background-color: black;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
}

button {
  height: 75px;
  width: 75px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
  border: 1px solid black;
}

#clearButton {
  width: 150px;
}

.zero {
  width: 150px;
}


.delete {
  background-color: rgb(202, 202, 202);
}

.number {
  background-color: gray;
}

.operator{
  background-color: rgb(224, 90, 0);
}